body, html {
    height:300px;
    width: 300px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
p{
    font-size: 20px;
    font-weight: bold;
    
}
.clock{
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}
.container {
    text-align: center;
}

#prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
